/* CSS Document */
.menu
{
	float:left
}
body
{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
.playWAV
{
	position:absolute;
	top:150px;

}
.line1
{
	position:absolute;
	top:20px;
	height:50px;
	width:100%;
	
}
.line1_img
{
	margin:0 auto;
	width:80%;
	height:50px;
	text-align:center;
	position:relative;
}
/* 三个按钮 */
.line1_img1
{
	position:absolute;
	left:0px;
}

.line1_img3
{
	position:absolute;
	right:0px;
}

.line1 img
{
	width:50px;
	height:50px;
}
.line2
{
	position:absolute;
	top:40%;
	width: 100%;
	height: 160px;
}
.line2_0
{
	margin:auto;
	width:166px;
	height:100%;
	position:relative;
}
.line2_1
{
	position:absolute;
	float:left;
}

.line2_2
{
	position:absolute;
	float:left;
	left:30px;
	top:30px;
}
/* 按键 */
.line2_dot1
{
	position:absolute;
	float:left;
	left:78px;
	top:10px;
}

.line2_dot2
{
	position:absolute;
	float:left;
	left:78px;
	bottom:10px;
}
.line2_dot3
{
	position:absolute;
	float:left;
	left:10px;
	top:74px;
}
.line2_dot4
{
	position:absolute;
	float:left;
	right:12px;
	top:74px;
}

.line3
{
	position:absolute;
	top:80%;
	height:10%;
	width:100%;
	text-align:center;
}

.line4
{
	position:absolute;
	top:90%;
	height:10%;
	width:100%;
	text-align:center;
}

