/* CSS Document */


.bottom_background
{
	background:url(../image/Resource/Common/navigationBar/top_bar_bg.png)
}

body
{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

.middle
{
	position:absolute;
	top:42%;
	height:150px;
	width:100%;
}
.middle_0
{
	position:relative;
	margin:0 auto;
	height:150px;
	width:180px;

}
#middle_1
{
	position:absolute;
	float:left;
	top:8px;
}
/*上下键*/
#middle_1_up
{
	position:absolute;
	float:left;
	width:40px;
	height:40px;
	top:14px;
	left:8px;
}
#middle_1_down
{
	position:absolute;
	float:left;
	width:40px;
	height:40px;
	bottom:12px;
	left:8px;
}

#middle_2
{
	position:absolute;
	right:0;
	top:8px;
	float:left
}
/* 节目按钮*/
#middle_2_program
{
	position:absolute;
	float:left;
	top:24px;
	right:16px;
	width:20px;
	height:100px;

}
.program_bottom
{
	position:absolute;
	top:80%;
	height:60px;
	width:100%;
	text-align:center;
}

